.clientContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inputDiv > input {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #000;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputDiv > input {
  position: absolute;
  width: 300px;
  height: 23.79px;
  top: calc(50% - 23.79px / 2 - 319.1px);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 194.62%;
  /* identical to box height, or 23px */

  color: #aaaaaa;
}

.inputDiv > input:focus {
  outline: none;
}

.clientContainer > input::placeholder {
  text-align: left;
}

.clientCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #000;
  background: #f3f5f5;
  padding: 0.875rem;
  top: 12rem;
}

.clientCard > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.clientCard > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emptyMessage {
    color: #aaaaaa;
}
