.clientContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inputDiv > input {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #000;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.inputDiv > input {
  position: absolute;
  width: 300px;
  height: 23.79px;
  top: calc(50% - 23.79px / 2 - 319.1px);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 194.62%;
  color: #aaaaaa;
}

.inputDiv > input:focus {
  outline: none;
}

.clientContainer > input::placeholder {
  text-align: left;
}

.cardClient {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: #000;
  background: #f3f5f5;
  padding: .875rem;
  border-radius: 10px;
  width: 100%;
}

.listContainer > ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: .875rem;
  gap: .875rem;
  margin-top: 8rem;
}


.emptyMessage {
    color: #aaaaaa;
}

.createClientForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.createClientForm > input {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #000;
}

.createClientForm > input::placeholder {
  text-align: left;
}

.createClientForm > input:focus {
  outline: none;
}

.createClientForm > button {
  background: #8c52ff;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.newClientButton {
  background: #8c52ff;
  border: none;
  border-radius: 8px;
  width: 80%;
  height: 2.5rem;
  cursor: pointer;
}

.newClientDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: .875rem;
}

.separateDiv {
  border-top: 1px solid rgba(155, 155, 155, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: .875rem;
}

.separateDiv > button, .trash-button {
  background: transparent;
  color: #000;
  text-align: center;
  padding: .875rem;
}

.action-button {
  background: #8c52ff;
  border-radius: 50%;
  text-align: center;
  padding: .875rem;
}
.action-button-danger {
  background: #ff5e52;
  border-radius: 50%;
  text-align: center;
  padding: .875rem;
}

.buttonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: .875rem .875rem;
  justify-content: space-between;
}