.signUpButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    color: #001833;
    width: 16rem;
    font-size: 1.2rem;
    border-radius: 16rem;
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 2px 20px #C1C7D0;
  }