
.container-myaccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 88%;
  width: 88%;
}

.img-myaccount {
  padding: 2rem;
}

.button-myaccount {
  color: #000000;
  background: transparent;
  border: none;
  padding: .4rem;
  font-size: .95rem;
  width: 16rem;
}

.div-button-block {
  border-bottom: #C1C7D0 1px solid;
  gap: .5rem;
  margin-bottom: 2rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-myaccount {
  height: 3rem;
  background-color: #F3F5F5;
  display: flex;
  justify-content: space-between;
}

.version {
  color: #000000;
  text-decoration: none;
  padding: .4rem;
  font-size: .6rem;
}

.teste {
  color: #8C52FFDB;
  text-decoration: none;
  padding: 1rem;
  font-size: .9rem;
}

